.home {
  &Container {
    max-width: 1120px;
    margin: 0 auto;
  }

  &Content {
    max-width: 700px;
    margin: 0 auto;
  }

  &Post {
    margin-top: 3rem;
    a {
      font-weight: 700;
      font-size: 1.75rem;
      line-height: 2rem;
      letter-spacing: -0.5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
      transition: color 0.5s;

      &:hover {
        color: var(--pink-500);
      }
    }
    p {
      font-weight: 400;
      font-size: 1.125rem;
      color: var(--gray-50);
      line-height: 2rem;
    }
  }
}
